GENERAL_MODEL=gpt-5
EMBEDDING_MODEL=text-embedding-3-large
OPENAI_API_KEY=your_token_here
API_BASE_URL="https://api.openai.com/v1"
MAIN_FIELD="Database Technology"
SLOTS_PATH=resource/slots.csv
PAPERS_PATH=resource/papers.csv
CONSTRAINTS_PATH=resource/constraints.csv
OUTPUT_PATH=resource/temp_papers_enriched.csv
TEMPERATURE=0.2
BUFFER_LEFT=2
BUFFER_RIGHT=12
MAX_CANDIDATES=100
MAX_ATTEMPTS_PER_SLOT=8
